.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  .side {
      position: relative;
      bottom: 370px;
      left: 630px;
      background-color: rgba(110, 6, 166, 0.521);
      color: #fff;
      align-content: center;
      font-size: 18px;
      width: 100px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;
      color: aliceblue;
    }
    
    .side .side-op:hover {
      background-color: rgb(46, 2, 64);
    }
    .action-buttons {
      text-align: center;
      margin: 20px 0;
    }